@model EventsPortal.Models.LocationModel

@{
    ViewData["Title"] = "EditLocation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EditLocation</h1>

<h4>LocationModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="LocationID" class="form-control" hidden />
            </div>
            <div class="form-group">
                <label asp-for="LocationName" class="control-label"></label>
                <input asp-for="LocationName" class="form-control" />
                <span asp-validation-for="LocationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationAdress" class="control-label"></label>
                <input asp-for="LocationAdress" class="form-control" />
                <span asp-validation-for="LocationAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (!string.IsNullOrEmpty(Model.ImagePath))
                {
                    <label>Current Image:</label>
                    <img src="@Url.Content(Model.ImagePath)" alt="Current Image" class="img-thumbnail" />
                }
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" type="file" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
